In [28]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser

In [29]:
# Create path and setup local chrome browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [30]:
# Establish URL on local chrome browser
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [31]:
# Pull HTML and Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [32]:
# Find first aricle
first_article = soup.find("div", class_="list_text")
first_article

<div class="list_text"><div class="list_date">January 21, 2020</div><div class="content_title"><a href="/news/8588/nine-finalists-chosen-in-nasas-mars-2020-rover-naming-contest/" target="_self">Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</a></div><div class="article_teaser_body">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div></div>

In [33]:
# Find first article's title
news_title = first_article.find("div", class_="content_title").text.strip()
news_title

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [34]:
# Find first article's text paragraph
news_p = first_article.find("div", class_="article_teaser_body").text.strip()
news_p

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite."

In [35]:
# Establish new URL on local chrome browser
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [36]:
# Pull HTML and Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [37]:
# Find first aricle
featured_image_article = soup.find("img", class_="thumb")["src"]
featured_image_article

'/spaceimages/images/wallpaper/PIA23659-640x350.jpg'

In [39]:
# Put two partial urls together for complete url
full_image_url = "https://jpl.nasa.gov"+featured_image_article
full_image_url

'https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA23659-640x350.jpg'

In [13]:
# Establish new URL on local chrome browser
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [14]:
# Pull HTML and Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
# Find first tweet
first_tweet_location = soup.find("div", class_="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci r-5f2r5o r-1mi0q7o").text
first_tweet_location

'Mars Weather@MarsWxReport·5hInSight sol 420 (2020-01-31) low -93.7ºC (-136.7ºF) high -13.7ºC (7.3ºF)\nwinds from the W at 4.8 m/s (10.7 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 6.30 hPa220'

In [38]:
first_tweet_location.replace('\n', '')

'Mars Weather@MarsWxReport·5hInSight sol 420 (2020-01-31) low -93.7ºC (-136.7ºF) high -13.7ºC (7.3ºF)winds from the W at 4.8 m/s (10.7 mph) gusting to 18.5 m/s (41.4 mph)pressure at 6.30 hPa220'

In [17]:
# Establish new URL on local chrome browser
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [18]:
# Pull HTML and Beautiful Soup
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
tables = pd.read_html(url)
len(tables)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
df = tables[0]
df.columns = ['Stat', 'Info']
df.head()

                   Stat                           Info
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [21]:
df.set_index('Stat', inplace=True)
df.head()

                                               Info
Stat
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [22]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Info</th>\n    </tr>\n    <tr>\n      <th>Stat</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [23]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Info</th>    </tr>    <tr>      <th>Stat</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [24]:
df.to_html('table.html')

In [25]:
!open table.html

In [26]:
# Establish new URL on local chrome browser
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [27]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
]